
    <div style="width: 95%" layout>
      <mat-card style="width: 100%">
        <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="container-fluid">
            <h2 class="form-signin-heading">Login</h2>
            <div *ngIf="invalidLogin" style="color: red">Invalid username or password.</div>
            <br/>
            <mat-form-field>
              <input matInput type="email" id="username" name="username" ngModel class="form-control"
                     placeholder="User Name"
                     required autofocus>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <input matInput type="password" id="password" name="password" ngModel class="form-control"
                     placeholder="Password" required>
            </mat-form-field>
            <br/>
            <button mat-raised-button color="primary" class="btn btn-lg btn-primary btn-block" type="submit">Sign in
            </button>
          </div>
        </form>
      </mat-card>
    </div>

